<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Should" version="1.1.12.0" />
	<package id="NUnit" version="2.5.9.10348" />
	<package id="Moq" version="4.0.10827" />
	<package id="structuremap" version="2.6.2" />
	<package id="RhinoMocks" version="3.6" />
	<package id="structuremap.automocking" version="2.6.2.0" />
</packages>