root=true
# This file is the top-most EditorConfig file

# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
# When specifying tool-specific properties, such as ReSharper's extended properties (https://www.jetbrains.com/help/resharper/EditorConfig_Index.html)
# Use the most generically-named version of the property (i.e. choose "brace_style" over "csharp_brace_style" or "resharper_csharp_brace_style")
# Hopefully, these settings become supported by Visual Studio, or add-ins liks CodeMaid.

# All Files (Unless overridden elsewhere)
[*]
charset=utf-8
end_of_line=crlf
indent_size=4
indent_style=space
insert_final_newline=false
max_line_length=off
trim_trailing_whitespace=true

# Indentation:
align_multiline_argument=false
align_multiline_array_and_object_initializer=false:suggestion
align_multiline_array_initializer=false:suggestion
align_multiline_binary_expressions_chain=false
align_multiline_calls_chain=false
align_multiline_ctor_init=false
align_multiline_expression=false
align_multiline_extends_list=false
align_multiline_for_stmt=false
align_multiline_parameter=false
align_multiline_type_argument=false
align_multiline_type_parameter=false
align_multiple_declaration=false
align_multline_type_parameter_constrains=false
align_multline_type_parameter_list=false
align_ternary=false
align_tuple_components=false
align_union_type_usage=false
indent_inside_namespace=true

# Bracing:
brace_style=next_line

# Blank lines:
blank_lines_after_multiline_statements=1
blank_lines_after_start_comment=0
blank_lines_after_using_list=0
blank_lines_around_auto_property=1
blank_lines_around_class_definition=1
blank_lines_around_field=1
blank_lines_around_invocable=1
blank_lines_around_property=1
blank_lines_around_single_line_auto_property=0
blank_lines_around_single_line_field=0
blank_lines_around_single_line_invocable=1
blank_lines_around_single_line_property=0
keep_blank_lines_in_code=1
remove_blank_lines_near_braces_in_code=true
blank_lines_around_local_method=1
blank_lines_around_single_line_local_method=1
blank_lines_before_control_transfer_statements=1
blank_lines_after_control_transfer_statements=1
blank_lines_before_block_statements=1
blank_lines_after_block_statements=1
#blank_lines_before_multiline_statements                                        = 1
#blank_lines_after_multiline_statements                                         = 1
blank_lines_before_case=0
blank_lines_after_case=0

keep_user_linebreaks=true
keep_existing_arrangement=true
keep_existing_linebreaks=true


# Spacing:
space_within_empty_braces=true
space_within_single_line_array_initializer_braces=true

# Other:
allow_comment_after_lbrace=false

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers=false
csharp_new_line_before_open_brace=all

# ReSharper properties
resharper_align_first_arg_by_paren=false
resharper_align_multiline_array_and_object_initializer=false
resharper_csharp_wrap_after_invocation_lpar=true
resharper_csharp_wrap_arguments_style=chop_if_long
resharper_initializer_braces=next_line_shifted_2
resharper_wrap_before_comma=false
resharper_wrap_chained_binary_expressions=chop_if_long
resharper_wrap_object_and_collection_initializer_style=chop_if_long


# Visual Studio Solution Files
[*.sln]
indent_style=tab


# Visual Studio XML Project Files
[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_size=2


# Various XML and Configuration Files
[*.{xml,config,props,targets,nuspec,resx,ruleset,vsixmanifest,vsct}]
indent_size=2


# JSON Files
[*.{json,json5}]
indent_size=2


# YAML Files
[*.{yml,yaml}]
indent_size=2


# Markdown Files
[*.md]
trim_trailing_whitespace=false


# Web Files
[*.{htm,html,tsx,css,sass,scss,less,svg,vue}]
indent_size=2
insert_final_newline=true


# Batch Files
[*.{cmd,bat}]


# Bash Files
[*.sh]
end_of_line=lf


# Javascript code style
[*.{js,ts}]
end_of_line=crlf
indent_brace_style=K&R
indent_size=4
insert_final_newline=true
spaces_around_brackets=inside
spaces_around_operators=true


# Dotnet code style
[*.{cs,csx,vb,vbx,cake}]
end_of_line=crlf
indent_brace_style=Allman
indent_size=4
insert_final_newline=true
spaces_around_brackets=inside
spaces_around_operators=true
csharp_using_directive_placement=outside_namespace:silent
dotnet_diagnostic.region1.severity=none


# Organize usings
dotnet_sort_system_directives_first=true


# Avoid this. unless absolutely necessary
dotnet_style_qualification_for_field=false:suggestion
dotnet_style_qualification_for_property=false:suggestion
dotnet_style_qualification_for_method=false:suggestion
dotnet_style_qualification_for_event=false:suggestion


# Use language keywords instead of BCL types
dotnet_style_predefined_type_for_locals_parameters_members=true:warning
dotnet_style_predefined_type_for_member_access=true:warning


# Parentheses
dotnet_style_parentheses_in_arithmetic_binary_operators=always_for_clarity:silent
dotnet_style_parentheses_in_relational_binary_operators=always_for_clarity:silent
dotnet_style_parentheses_in_other_binary_operators=always_for_clarity:silent
dotnet_style_parentheses_in_other_operators=always_for_clarity:silent


# Modifier preferences
dotnet_style_require_accessibility_modifiers=always:warning
dotnet_style_readonly_field=true:suggestion


# Expression-level preferences
dotnet_style_object_initializer=true:suggestion
dotnet_style_collection_initializer=true:suggestion
dotnet_style_explicit_tuple_names=true:suggestion
dotnet_style_null_propagation=true:suggestion
dotnet_style_coalesce_expression=true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method=true:silent
dotnet_prefer_inferred_tuple_names=true:suggestion
dotnet_prefer_inferred_anonymous_type_member_names=true:suggestion
dotnet_style_prefer_auto_properties=true:silent
dotnet_style_prefer_conditional_expression_over_assignment=true:silent
dotnet_style_prefer_conditional_expression_over_return=true:silent


# Naming Styles:
dotnet_naming_style.all_lower_case_style.capitalization=all_lower

dotnet_naming_style.all_upper_case_style.capitalization=all_upper

dotnet_naming_style.async_style.capitalization=pascal_case
dotnet_naming_style.async_style.required_suffix=Async

dotnet_naming_style.camel_case_style.capitalization=camel_case

dotnet_naming_style.const_style.capitalization=camel_case
dotnet_naming_style.const_style.word_separator=_

dotnet_naming_style.interface_style.capitalization=pascal_case
dotnet_naming_style.interface_style.required_prefix=I

dotnet_naming_style.pascal_case_style.capitalization=pascal_case

dotnet_naming_style.type_parameter_style.capitalization=pascal_case
dotnet_naming_style.type_parameter_style.required_prefix=T

dotnet_naming_style.underscore_style.capitalization=camel_case
dotnet_naming_style.underscore_style.required_prefix=_


# Naming Symbols:
dotnet_naming_symbols.async_methods.applicable_kinds=method
dotnet_naming_symbols.async_methods.required_modifiers=async

dotnet_naming_symbols.constant_fields.applicable_accessibilities=*
dotnet_naming_symbols.constant_fields.applicable_kinds=field
dotnet_naming_symbols.constant_fields.required_modifiers=const

dotnet_naming_symbols.interfaces.applicable_accessibilities=*
dotnet_naming_symbols.interfaces.applicable_kinds=interface

dotnet_naming_symbols.methods_and_properties.applicable_accessibilities=*
dotnet_naming_symbols.methods_and_properties.applicable_kinds=method,property

dotnet_naming_symbols.namespaces.applicable_accessibilities=*
dotnet_naming_symbols.namespaces.applicable_kinds=namespace

dotnet_naming_symbols.non_private_readonly_fields.applicable_accessibilities=public,internal,friend,protected,protected_internal,protected_friend
dotnet_naming_symbols.non_private_readonly_fields.applicable_kinds=field
dotnet_naming_symbols.non_private_readonly_fields.required_modifiers=readonly

dotnet_naming_symbols.non_private_symbols.applicable_accessibilities=public,internal,friend,protected,protected_internal,protected_friend,private_protected
dotnet_naming_symbols.non_private_symbols.applicable_kinds=class,struct,interface,enum,property,method,field,event,delegate

dotnet_naming_symbols.parameters.applicable_kinds=parameter

dotnet_naming_symbols.private_fields.applicable_accessibilities=private
dotnet_naming_symbols.private_fields.applicable_kinds=field

dotnet_naming_symbols.private_readonly_fields.applicable_accessibilities=private
dotnet_naming_symbols.private_readonly_fields.applicable_kinds=field
dotnet_naming_symbols.private_readonly_fields.required_modifiers=readonly

dotnet_naming_symbols.private_static_fields.applicable_accessibilities=private
dotnet_naming_symbols.private_static_fields.applicable_kinds=field
dotnet_naming_symbols.private_static_fields.required_modifiers=static,shared

dotnet_naming_symbols.private_static_readonly_fields.applicable_accessibilities=private
dotnet_naming_symbols.private_static_readonly_fields.applicable_kinds=field
dotnet_naming_symbols.private_static_readonly_fields.required_modifiers=static,readonly

dotnet_naming_symbols.private_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_symbols.applicable_kinds=property,method,event,delegate

dotnet_naming_symbols.static_readonly_fields.applicable_kinds=field
dotnet_naming_symbols.static_readonly_fields.required_modifiers=static,readonly

dotnet_naming_symbols.type_parameters.applicable_kinds=type_parameter


# Naming Rules: (See https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-naming-conventions?view=vs-2017)
# Note (From the docs): Naming conventions should be ordered from most-specific to least-specific.
# The first rule encountered that can be applied is the only rule that is applied, so put more-specific rules first.
dotnet_naming_rule.private_constant_fields.symbols=constant_fields
dotnet_naming_rule.private_constant_fields.style=camel_case_style
dotnet_naming_rule.private_constant_fields.severity=warning

dotnet_naming_rule.non_private_constant_fields.symbols=constant_fields
dotnet_naming_rule.non_private_constant_fields.style=pascal_case_style
dotnet_naming_rule.non_private_constant_fields.severity=warning

dotnet_naming_rule.private_static_readonly_fields.symbols=private_static_readonly_fields
dotnet_naming_rule.private_static_readonly_fields.style=pascal_case_style
dotnet_naming_rule.private_static_readonly_fields.severity=warning

dotnet_naming_rule.private_readonly_fields.symbols=private_readonly_fields
dotnet_naming_rule.private_readonly_fields.style=underscore_style
dotnet_naming_rule.private_readonly_fields.severity=warning

dotnet_naming_rule.private_fields.symbols=private_fields
dotnet_naming_rule.private_fields.style=underscore_style
dotnet_naming_rule.private_fields.severity=warning

dotnet_naming_rule.namespace.symbols=namespaces
dotnet_naming_rule.namespace.style=pascal_case_style
dotnet_naming_rule.namespace.severity=error

dotnet_naming_rule.interfaces.symbols=interfaces
dotnet_naming_rule.interfaces.style=interface_style
dotnet_naming_rule.interfaces.severity=warning

dotnet_naming_rule.non_private_members.symbols=non_private_symbols
dotnet_naming_rule.non_private_members.style=pascal_case_style
dotnet_naming_rule.non_private_members.severity=warning

dotnet_naming_rule.async_methods.symbols=async_methods
dotnet_naming_rule.async_methods.style=async_style
dotnet_naming_rule.async_methods.severity=warning

dotnet_naming_rule.methods_and_properties.symbols=methods_and_properties
dotnet_naming_rule.methods_and_properties.style=pascal_case_style
dotnet_naming_rule.methods_and_properties.severity=warning

dotnet_naming_rule.parameters.symbols=parameters
dotnet_naming_rule.parameters.style=camel_case_style
dotnet_naming_rule.parameters.severity=warning

dotnet_naming_rule.type_parameters.symbols=type_parameters
dotnet_naming_rule.type_parameters.style=type_parameter_style
dotnet_naming_rule.type_parameters.severity=suggestion


# Prefer "var" over explicit types
csharp_style_var_for_built_in_types=true:suggestion
csharp_style_var_when_type_is_apparent=true:suggestion
csharp_style_var_elsewhere=true:suggestion


# Expression-bodied members
csharp_style_expression_bodied_methods=when_on_single_line:none
csharp_style_expression_bodied_constructors=false:none
csharp_style_expression_bodied_operators=false:none
csharp_style_expression_bodied_properties=true:none
csharp_style_expression_bodied_indexers=true:none
csharp_style_expression_bodied_accessors=true:none


# Pattern matching:
csharp_style_pattern_matching_over_is_with_cast_check=true:suggestion
csharp_style_pattern_matching_over_as_with_null_check=true:suggestion


# Modifiers:
csharp_preferred_modifier_order=public,private,protected,internal,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,volatile,async:suggestion


# Expression-level preferences
csharp_prefer_braces=true:suggestion
csharp_style_deconstructed_variable_declaration=true:suggestion
csharp_prefer_simple_default_expression=true:suggestion
csharp_style_pattern_local_over_anonymous_function=true:suggestion
csharp_style_inlined_variable_declaration=true:suggestion
csharp_style_throw_expression=true:suggestion
csharp_style_conditional_delegate_call=true:suggestion


# Newline settings:
csharp_new_line_before_open_brace=all
csharp_new_line_before_else=true
csharp_new_line_before_catch=true
csharp_new_line_before_finally=true
csharp_new_line_before_members_in_object_initializers=false
csharp_new_line_before_members_in_anonymous_types=true
csharp_new_line_between_query_expression_clauses=true
csharp_wrap_before_comma=false
csharp_force_chop_compound_do_expression=false
csharp_force_chop_compound_if_expression=false
csharp_force_chop_compound_while_expression=false


# Indentation:
csharp_indent_case_contents=true
csharp_indent_switch_labels=true
csharp_indent_labels=true
csharp_indent_preprocessor_region=true

# Spacing:
csharp_extra_spaces=remove_all
csharp_space_after_ampersand_op=false
csharp_space_after_asterik_op=false
csharp_space_after_attribute_colon=true
csharp_space_after_attributes=true
csharp_space_after_cast=false
csharp_space_after_cast=false
csharp_space_after_colon_in_case=true
csharp_space_after_colon_in_inheritance_clause=true
csharp_space_after_colon_in_inheritance_clause=true
csharp_space_after_comma=true
csharp_space_after_keywords_in_control_flow_statements=true
csharp_space_after_logical_not_op=false
csharp_space_after_operator_keyword=false
csharp_space_after_semicolon_in_for_statement=true
csharp_space_after_ternary_colon=true
csharp_space_after_ternary_quest=true
csharp_space_after_type_parameter_constraint_colon=true
csharp_space_after_unary_minus_op=false
csharp_space_after_unary_plus_op=false
csharp_space_around_additive_op=true
csharp_space_around_alias_eq=true
csharp_space_around_arrow_op=true
csharp_space_around_assignment_op=true
csharp_space_around_binary_operators=before_and_after
csharp_space_around_bitwise_op=true
csharp_space_around_dot=false
csharp_space_around_equality_op=true
csharp_space_around_lambda_arrow=true
csharp_space_around_logical_op=true
csharp_space_around_multiplicative_op=true
csharp_space_around_nullcoalescing_op=true
csharp_space_around_relational_op=true
csharp_space_around_shift_op=true
csharp_space_before_array_access_brackets=false
csharp_space_before_array_rank_brackets=false
csharp_space_before_attribute_colon=false
csharp_space_before_catch_parentheses=true
csharp_space_before_checked_parentheses=false
csharp_space_before_colon_in_case=false
csharp_space_before_colon_in_inheritance_clause=true
csharp_space_before_colon_in_inheritance_clause=true
csharp_space_before_comma=false
csharp_space_before_default_parentheses=false
csharp_space_before_empty_method_call_parentheses=false
csharp_space_before_empty_method_parentheses=false
csharp_space_before_fixed_parentheses=true
csharp_space_before_for_parentheses=true
csharp_space_before_foreach_parentheses=true
csharp_space_before_if_parentheses=true
csharp_space_before_lock_parentheses=true
csharp_space_before_method_call_parentheses=false
csharp_space_before_method_parentheses=false
csharp_space_before_nameof_parentheses=false
csharp_space_before_nullable_mark=false
csharp_space_before_pointer_asterik_declaration=false
csharp_space_before_semicolon=false
csharp_space_before_semicolon_in_for_statement=false
csharp_space_before_singleline_accessorholder=true
csharp_space_before_sizeof_parentheses=false
csharp_space_before_switch_parentheses=true
csharp_space_before_ternary_colon=true
csharp_space_before_ternary_quest=true
csharp_space_before_trailing_comment=true
csharp_space_before_type_argument_angle=false
csharp_space_before_type_parameter_angle=false
csharp_space_before_type_parameter_constraint_colon=true
csharp_space_before_typeof_parentheses=false
csharp_space_before_using_parentheses=true
csharp_space_before_while_parentheses=true
csharp_space_between_accessors_in_singleline_property=true
csharp_space_between_attribute_sections=false
csharp_space_between_keyword_and_expression=true
csharp_space_between_keyword_and_type=true
csharp_space_between_method_call_empty_parameter_list_parentheses=false
csharp_space_between_method_call_empty_parameter_list_parentheses=false
csharp_space_between_method_call_name_and_opening_parenthesis=false
csharp_space_between_method_call_parameter_list_parentheses=false
csharp_space_between_method_call_parameter_list_parentheses=false
csharp_space_between_method_declaration_empty_parameter_list_parentheses=false
csharp_space_between_method_declaration_name_and_open_parenthesis=false
csharp_space_between_method_declaration_parameter_list_parentheses=false
csharp_space_between_method_declaration_parameter_list_parentheses=false
csharp_space_between_parentheses=false
csharp_space_between_typecast_parentheses=false
csharp_space_in_singleline_accessorholder=true
csharp_space_in_singleline_anonymous_method=true
csharp_space_in_singleline_method=true
csharp_space_near_postfix_and_prefix_op=false
csharp_space_within_array_access_brackets=false
csharp_space_within_array_rank_brackets=false
csharp_space_within_array_rank_empty_brackets=false
csharp_space_within_attribute_brackets=false
csharp_space_within_catch_parentheses=false
csharp_space_within_checked_parentheses=false
csharp_space_within_default_parentheses=false
csharp_space_within_fixed_parentheses=false
csharp_space_within_for_parentheses=false
csharp_space_within_foreach_parentheses=false
csharp_space_within_if_parentheses=false
csharp_space_within_lock_parentheses=false
csharp_space_within_nameof_parentheses=false
csharp_space_within_parentheses=false
csharp_space_within_sizeof_parentheses=false
csharp_space_within_switch_parentheses=false
csharp_space_within_type_argument_angles=false
csharp_space_within_type_parameter_angles=false
csharp_space_within_typeof_parentheses=false
csharp_space_within_using_parentheses=false
csharp_space_within_while_parentheses=false

# Wrapping:
csharp_preserve_single_line_blocks=true
csharp_preserve_single_line_statements=true

# Other settings:
csharp_max_initializer_elements_on_line=10000
csharp_place_simple_initializer_on_single_line=true
csharp_trailing_comma_in_multiline_lists=true
csharp_wrap_array_initializer_style=chop_if_long
csharp_wrap_object_and_collection_initializer_style=chop_if_long
