<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExpectedObjects" version="1.0.0.2" targetFramework="net45" />
  <package id="Moq" version="4.1.1311.0615" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="Should" version="1.1.12.0" targetFramework="net45" />
  <package id="SpecsFor" version="3.0.0-preview2" targetFramework="net45" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net45" />
  <package id="structuremap.automocking" version="2.6.4.1" targetFramework="net45" />
</packages>