<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mvc3Futures" version="3.0.20105.0" targetFramework="net45" />
  <package id="MvcContrib.Mvc3.TestHelper-ci" version="3.0.100.0" targetFramework="net45" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="2.33.0" targetFramework="net45" />
</packages>