<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.9.1.8" />
  <package id="Mvc3Futures" version="3.0.20105.0" />
  <package id="MvcContrib.Mvc3.TestHelper-ci" version="3.0.90.0" />
  <package id="Newtonsoft.Json" version="4.0.2" />
  <package id="RhinoMocks" version="3.6" />
  <package id="Selenium.WebDriver" version="2.13.0" />
</packages>